
@{
    ViewBag.Title = "Products Overview";
}


@section ControlsSection{

    <div class="card">
        <div class="card-body">
            <button id="btnAdd" type="button" class="btn waves-effect waves-light btn-block btn-info col-lg-2">Add New Product</button>
           
             <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Update Stock</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="floating-labels m-t-40">
                                <div class="form-group m-b-40 focused">
                                    <input type="number" class="form-control" id="txtSmall" required value="0">
                                    <span class="bar"></span>
                                    <label for="txtSmall">Small</label>
                                </div>

                                <div class="form-group m-b-40 focused">
                                    <input type="number" class="form-control" id="txtMedium" required value="0">
                                    <span class="bar"></span>
                                    <label for="txtMedium">Medium</label>
                                </div>

                                <div class="form-group m-b-40 focused">
                                    <input type="number" class="form-control" id="txtLarge" required value="0">
                                    <span class="bar"></span>
                                    <label for="txtLarge">Large</label>
                                </div>

                                <div class="form-group m-b-40 focused">
                                    <input type="number" class="form-control" id="txtxLarge" required value="0">
                                    <span class="bar"></span>
                                    <label for="txtxLarge">xLarge</label>
                                </div>

                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btnUpdateStock" type="button" class="btn btn-info waves-effect" data-dismiss="modal">Add Stock</button>
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="table-responsive m-t-40">
                <table id="myTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Category</th>
                            <th>Lot</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Fabric</th> 
                            <th>Price</th>                                                                 
                            <th>Options</th>                           
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

}


<script>

    var table;
    var proID = 0;

    $(document).ready(function () {
               
        type = '@Session["uType"]';
        if (type === "") {
            window.location = '../Login';
        }
        

            $('#btnUpdateStock').click(function () {
                var s = $('#txtSmall').val();
                var m = $('#txtMedium').val();
                var l = $('#txtLarge').val();
                var xl = $('#txtxLarge').val();

                if (s === "")
                    s = 0;
                if (m === "")
                    m = 0;
                if (l === "")
                    l = 0;
                if (xl === "")
                    xl = 0;


                console.log('Pro ID: ', proID, s, m, l, xl);

                $.ajax({
                    type: "POST",
                    url: '/ManageProducts/UpdateStock',
                    contentType: "application/json",
                    traditional: true,
                    data: JSON.stringify({ id: proID, small: s, medium: m, large: l, xLarge: xl }),
                    dataType: "json",
                    success: function (recData) {                       
                        if (recData.status == "Success") {
                            table.ajax.reload(null, false); // user paging is not reset on reload
                            //Reset value = 0
                            $('#txtSmall').val(0);
                            $('#txtMedium').val(0);
                            $('#txtLarge').val(0);
                            $('#txtxLarge').val(0);
                            $('.form-group').addClass('focused');
                            swal("Stock Updated!", {
                                icon: "success",
                            });
                        }
                        else {
                            swal({
                                title: "Opps!",
                                text: recData.Data,
                                icon: "error",
                            });
                        }

                    },
                    error: function () {
                        swal({

                            title: "Opps!",
                            text: "Something went wrong",
                            icon: "error",
                        });
                    }
                });


            });
            

            table =  $('#myTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                buttons: [
                  'copyHtml5',
                  'excelHtml5',
                  'csvHtml5',
                  'pdfHtml5'
                ],
                "ajax": {
                    "url": "/ManageProducts/LoadData",
                    "type": "POST",
                    "datatype": "json",
                    error: function (xhr, error, thrown) {
                        console.log(xhr);
                        console.log(error);
                    }
                },
                "columnDefs":
                   [{
                       "targets": [0],
                       "visible": false,
                       "searchable": false
                   },                   
                   {
                       "targets": [6],
                       "searchable": false,
                       "orderable": false
                   },
                   {
                       "targets": [7],
                       "searchable": false,
                       "orderable": false
                   }],
                "columns": [
                        { "data": "id", "name": "id", "autoWidth": true },
                        { "data": "category", "name": "category", "autoWidth": true },
                        { "data": "Lot", "name": "Lot", "autoWidth": true },
                        { "data": "Code", "name": "Code", "autoWidth": true },
                        { "data": "itemName", "name": "itemName", "autoWidth": true },
                        { "data": "Fabric", "name": "Fabric", "autoWidth": true },
                        { "data": "Price", "name": "Price", "autoWidth": true },                       
                        {
                             "render": function (data, type, full, meta)
                             { return '<a href="/ManageProducts/Edit/' + full.id + '"><i class="fas fa-edit"></i></a><span> | </span> <a href="javascript:void(myFunction())" onclick=DeleteData(' + full.id + ');> <i class="fas fa-trash-alt" style="color:#d9534f;"></i>'; }
                                
                        },
                ]
            });
    });

    function UpdateStock(productID) {       
        proID = productID;
    }
    $('#btnAdd').click(function () {
        window.location = "/ManageProducts/Add";
    });
    function DeleteData(productID) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
      .then((willDelete) => {
          if (willDelete) {

              $.ajax({
                  type: "POST",
                  url: '/ManageProducts/Delete',
                  contentType: "application/json",
                  traditional: true,
                  data: JSON.stringify({ id: productID }),
                  dataType: "json",
                  success: function (recData) {
                      if (recData.Data == "Success") {
                          table.ajax.reload(null, false); // user paging is not reset on reload
                          swal("Product has been deleted!", {
                              icon: "success",
                          });
                      }
                      else {
                          swal({
                              title: "Opps!",
                              text: "Product has been ordered by customer.",
                              icon: "error",
                          });
                      }

                  },
                  error: function () {
                      swal({

                          title: "Opps!",
                          text: "Something went wrong",
                          icon: "error",
                      });
                  }
              });
              
          }
      });
    }

</script>