
@{
    ViewBag.Title = "Institute Info";
}



@section ControlsSection{
 <div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        @*<div class="card">          
            <input type="file" id="picSchool" data-show-remove="false" class="dropify" data-default-file="../assets/plugins/dropify/src/images/test-image-1.jpg" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Select your institute logo." />
        </div>*@
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    <img src="../assets/images/users/5.jpg" class="img-circle" width="150" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Select institute logo" />           
                   
                </center>
                <br />
            </div>
        </div>  
        <div class="card">
            <div class="card-body">
                <center class="m-t-30">
                    <img src="../assets/images/users/5.jpg" class="img-circle" width="150" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Select bank logo" />
                                 
                </center>
                <br />
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">           
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="floating-labels m-t-40">
                            <div class="form-group m-b-40 focused col-md-12">
                                <input type="text" class="form-control" id="txtName" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="What's your Institute Name?">
                                <span class="bar"></span>
                                <label for="txtName">Institute Name</label>
                            </div>
                            <div class="form-group m-b-40 col-md-12">
                                <input type="text" class="form-control" id="txtCampus">
                                <span class="bar"></span>
                                <label for="txtCampus">Campus</label>
                            </div>
                            <div class="form-group m-b-40 col-md-12">
                                <input type="text" class="form-control" id="txtAddress">
                                <span class="bar"></span>
                                <label for="txtAddress">Address</label>
                            </div>
                           <div class="form-group col-md-12">
                               <div class="row">
                                   <div class="form-group col-md-6">
                                       <input type="number" class="form-control" id="txtPhone">
                                       <span class="bar"></span>
                                       <label for="txtPhone">Phone</label>
                                   </div>
                                   <div class="form-group col-md-6">
                                       <input type="number" class="form-control" id="txtMob">
                                       <span class="bar"></span>
                                       <label for="txtMob">Mobile</label>
                                   </div>
                               </div>                     
                           </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="txtEmail">
                                        <span class="bar"></span>
                                        <label for="txtEmail">Email</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="txtWebsite">
                                        <span class="bar"></span>
                                        <label for="txtWebsite">Website</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="txtBank">
                                        <span class="bar"></span>
                                        <label for="txtBank">Bank</label>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="text" class="form-control" id="txtAccNo">
                                        <span class="bar"></span>
                                        <label for="txtAccNo">Account No.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-b-40 col-md-12">
                                <input type="text" class="form-control" id="txtBankAddress">
                                <span class="bar"></span>
                                <label for="txtBankAddress">Bank Address</label>
                            </div>
                        </div>
                        <button id="btnSave" type="button" class="btn waves-effect waves-light btn-block btn-info">Save</button>
                      
                    </div>
                </div>     
               
            </div>
        </div>
    </div>

</div>
}


<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();

       
    });
</script>