
@{
    ViewBag.Title = "Add Distributor";
}


@section ControlsSection{
<div class="col-12">
        <div class="card">
            <div class="card-body">
                <a id="btnBank" href="/Distributor/index" class="btn waves-effect waves-light btn-block btn-info col-lg-2">Go Back</a>

                <form class="floating-labels m-t-40">

                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtName" value="">
                        <span class="bar"></span>
                        <label for="txtName">Name*</label>
                    </div>



                    <div class="form-group m-b-80">
                        <input type="text" class="form-control" id="txtCity">
                        <span class="bar"></span>
                        <label for="txtCity">City</label>
                    </div>

                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtAddress">
                        <span class="bar"></span>
                        <label for="txtAddress">Address</label>
                    </div>

                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtNIC">
                        <span class="bar"></span>
                        <label for="txtNIC">NIC</label>
                    </div>
                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtNTN">
                        <span class="bar"></span>
                        <label for="txtNTN">NTN</label>
                    </div>
                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtMoblie">
                        <span class="bar"></span>
                        <label for="txtMoblie">Mobile*</label>
                    </div>
                    <div class="form-group m-b-40 focused">
                        <input type="text" class="form-control" id="txtContactNo">
                        <span class="bar"></span>
                        <label for="txtContactNo">Contact No.</label>
                    </div>
                    <div class="form-group m-b-40 focused">
                        <textarea type="text" class="form-control" id="txtReferredBy"> </textarea>
                        <span class="bar"></span>
                        <label for="txtReferredBy">Referred By</label>
                    </div>
                </form>

                <br />
                <!--Thumbnails-->




            </div>

        </div>
        <div id="divProgress" class="progress m-t-20">
            <div id="progressBar" class="progress-bar bg-info progress-bar-striped" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height:10px;" role="progressbar"></div>
        </div>
        <br />
        <button id="btnSave" type="button" class="btn btn-info col-lg-12">ADD Distributor </button>

    </div>

}
<script>
    
    var editID = 0;


    $(document).ready(function () {
        //Populate();

         $('#btnSave').click(function (e) {

             e.preventDefault();
             //ADD
             var name = $('#txtName').val();
             var city = $('#txtCity').val();
             var address = $('#txtAddress').val();
             var nic = $('#txtNIC').val();
             var ntn = $('#txtNTN').val();
             var mobile = $('#txtMoblie').val();
             var contact = $('#txtContactNo').val();
             var referredBy = $('#txtReferredBy').val();

             console.log(name.length);
             if (name !=null && name.length > 2) 
             {
                 if (mobile.length < 11 ) {
                     swal({
                         title: "Error!",
                         text: "Please Provide Correct Mobile number",
                         icon: "error",
                     });

                 }
                 else{
                     $.ajax({
                         type: "POST",
                         url: '/Distributor/AddDistributor',
                         contentType: "application/json",
                         traditional: true,
                         data: JSON.stringify({ txtName: name, txtCity: city, txtAddress: address, txtNIC: nic, txtNTN: ntn, txtMoblie: mobile, txtContactNo: contact, txtReferredBy: referredBy }),
                         dataType: "json",
                         success: function (recData) {
                             if (recData.Data > 0) {
                                 //table.ajax.reload(null, false); // user paging is not reset on reload
                                 swal({
                                     title: "Saved!",
                                     text: "Distributor added successfully.",
                                     icon: "success",
                                 });

                                 //Clear
                                 $('#txtName').val('');
                                 $('#txtCity').val('');
                                 $('#txtAddress').val('');
                                 $('#txtNIC').val('');
                                 $('#txtNTN').val('');
                                 $('#txtMoblie').val('');
                                 $('#txtContactNo').val('');
                                 $('#txtReferredBy').val('');


                             }
                             else {
                                 swal({
                                     title: "Error!",
                                     text: "User with the same mobile numeber already exist",
                                     icon: "error",
                                 });
                             }

                         },
                         error: function () {
                             swal({

                                 title: "Opps!",
                                 text: "Something went wrong",
                                 icon: "error",
                             });
                         }
                     });
                 }
             }
             
             else {
                 swal({

                     title: "Invalid Data",
                     text: "Please fill all fields to save data",
                     icon: "info",
                   });
             }
         });
    });


</script>



