


@{
    ViewBag.Title = "Manage Outlets";
}


@section ControlsSection{

    <div class="card">
        <div class="card-body">
            <a id="btnAdd" href="/Outlets/Add" class="btn waves-effect waves-light btn-block btn-info col-lg-2">Add Outlets</a>

            <div class="table-responsive m-t-40">
                <table id="myTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>OutletName</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>NTN</th>
                            <th>Location</th>
                            <th>OwnerName</th>
                            <th>NIC</th>
                            <th>OwnerAddress</th>
                            <th>ContactNo</th>
                            <th>UserName</th>
                            <th>UserMobileNo</th>
                            <th>Option</th>


                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

}


<script>

    var table;
    var editID = 0;
    $(document).ready(function () {

        type = '@Session["uType"]';
        if (type === "") {
            window.location = '../Login';
        }

         table =  $('#myTable').DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                buttons: [
                  'copyHtml5',
                  'excelHtml5',
                  'csvHtml5',
                  'pdfHtml5'
                ],
                "ajax": {
                    "url": "/Outlets/LoadData",
                    "type": "POST",
                    "datatype": "json",
                    error: function (xhr, error, thrown) {
                        console.log(xhr);
                        console.log(error);
                    }
                },
                "columnDefs":
                   [{
                       "targets": [0],
                       "visible": false,
                       "searchable": false
                   },
                   {
                      "targets": [12],
                      "searchable": false,
                      "orderable": false
                  }
                   ],
                "columns": [
                        { "data": "id", "name": "id", "autoWidth": true },
                        { "data": "OutletName", "name": "OutleName", "autoWidth": true },
                        { "data": "Phone", "name": "Phone", "autoWidth": true },


                        { "data": "Moblie", "name": "Moblie", "autoWidth": true },
                        { "data": "NTN", "name": "NTN", "autoWidth": true },
                        { "data": "Location", "name": "Location", "autoWidth": true },
                        { "data": "OwnerName", "name": "OwnerName", "autoWidth": true },
                            { "data": "NIC", "name": "NIC", "autoWidth": true },
                        { "data": "OwnerAddress", "name": "OwnerAddress", "autoWidth": true },
                           { "data": "ContactNo", "name": "ContactNo", "autoWidth": true },
                          { "data": "UserName", "name": "UserName", "autoWidth": true },
                          { "data": "UserMoblieNo", "name": "UserMoblieNo", "autoWidth": true },

                   {
                            "render": function (data, type, full, meta)
                            { return '<a href="javascript:void(myFunction())" onclick=Populate(' + full.id + '); ><i class="fas fa-edit"></i></a><span> | </span> <a href="javascript:void(myFunction())" onclick=DeleteData(' + full.id + ');> <i class="fas fa-trash-alt" style="color:#d9534f;"></i>'; }

                        },
                ]
         });



    });

    function Populate(id)
    {
        window.location = "/Outlets/Edit/" + id;
    }



    function DeleteData(OutletsID) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this data!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
      .then((willDelete) => {
          if (willDelete) {

              $.ajax({
                  type: "POST",
                  url: '/Outlets/Delete',
                  contentType: "application/json",
                  traditional: true,
                  data: JSON.stringify({ id: OutletsID }),
                  dataType: "json",
                  success: function (recData) {
                      if (recData.status == "success") {
                          table.ajax.reload(null, false); // user paging is not reset on reload
                          swal("Outlets has been removed!", {
                              icon: "success",
                          });
                      }
                      else {
                          swal({
                              title: "Opps!",
                              text: recData.Data,
                              icon: "error",
                          });
                      }

                  },
                  error: function () {
                      swal({

                          title: "Opps!",
                          text: "Something went wrong",
                          icon: "error",
                      });
                  }
              });

          }
      });
    }
</script>

